
            #maCarte{
                width: 997px;
                height: 700px;
                border: 0;
                margin: auto;
                display: block;
            }
 /* mise en forme des popups de la carte Leaflet */
.leaflet-popup-tip,
.leaflet-popup-content-wrapper {
background : rgb(197, 162, 6);
color : #1b1a19;
}